<% provide(:title, "Edit Category") %>
<h1>Edit Category</h1>

<%= form_for @category, url: {action: "update"} do |f| %>
	<div style="padding-bottom: 10px;">
      <p><%= f.label :name %></p>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div style="padding-bottom: 10px;">
      <p><%= f.label :description %></p>
      <%= f.text_area :description, size: "60x12" %>
    </div>

    <div style="padding-bottom: 10px;">
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>

<% end %>
