<h1>Category List</h1>
<table border=1 width="50%">
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Description</td>
		<td>Action</td>
	</tr>
	<% @categories.each do |category| %>
		<tr>
			<td width="10%"><%= link_to "Id: #{category.id}", controller: "category", action: "show", id: category.id %></td>
			<td width="20%"><%= category.name%></td>
			<td width="50%"><%= category.description %></td>
			<td width="20%">
			<%= link_to "Edit", controller: "category", action: "edit", id: category.id %>
			<%= link_to "Delete", controller: "category", action: "destroy", id: category.id %>
			</td>
		</tr>
	<% end %>
</table>

<br><br><br>

<%= link_to 'New Category', category_new_path %>