<h1>Post List</h1>
<table width="50%">
	<tr>
		<td>Title</td>
		<td>Description</td>
		<td></td>
	</tr>
	<% if @posts
		@posts.each do |post| %>
		<tr>
			<td width="20%"><%= post.title%></td>
			<td width="50%"><%= post.description %></td>
			<td width="20%">
			<%= link_to "Edit", controller: "posts", action: "edit", id: post.id %>
			<%= link_to "Delete", controller: "posts", action: "destroy", id: post.id %>
			</td>
		</tr>
	<% end end %>
</table>

<br><br><br>

<%= link_to 'New Post', posts_new_path %>